body {
    background-color: #FFF;
    font-family: Avenir;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px;
}

.box {
    background-color: #FF715B;
    box-shadow: 5px 5px 5px #000;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 25px;
    padding: 40px 0px 0px 0px;
}

button {
    background-color: #4C5B5C;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px 25px 10px 25px;
    font-family: Avenir;
}

.questionbox {
    text-align: center;
    background-color: #7DC2C8;
    width: 800px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 200px;
    color: white;
}

#language {
    width: 250px;
    height: 35px;
    font-size: 25px;
    font-family: Avenir;
}

#country_code {
    width: 30px;
    height: 28px;
    font-size: 20px;
    font-family: Avenir;
}

#phone_number {
    width: 150px;
    height: 28px;
    font-size: 20px;
    font-family: Avenir;
}
